.form{
    display: flex;
    width: 35%;
    flex-direction: column;
    margin-left:5%;
}

.input{
    width: 50%;
    /* margin: auto; */
    padding: 10px;
    border: 1px solid;
   
}

@media (min-width: 320px) and (max-width: 480px) {
    .input{
        width: 90%;
    }

    .form{  
         width: 45%;}

}